{% load staticfiles %}

<!doctype html>
<html>
<head>
    {# jQuery #}
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous">
    </script>

    {# DataTables Plugin Import #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/datatables.min.css"/> 
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/datatables.min.js"></script>

    <title>Genome Annotations</title>
</head>


<body>
    <h1>Genome Annotations</h1>

    <script>
    $(document).ready(function() {

        // datatable instantiation
        $('#alignments').DataTable( {
        columns: [
            {title: "Sequence"},
            {title: "BLAST ({{ statistics.BLAST }})"},
            {title: "Pfam ({{ statistics.Pfam }})"},
            {title: "Prosite ({{ statistics.Prosite}})"},
            {title: "KEGG Pathway ({{ statistics.KEGG_Pathway }})"},
            {title: "NucPloc ({{ statistics.NucPloc }})"},
            {title: "Gene Ontology ({{ statistics.Gene_Ontology }})"},
            {title: "Comments"}
        ]
        } );

        // clickable links based on tr tag in table body
        $('#alignments').on('click', 'tbody > tr', function() {
            window.location.href += $(this).attr('data-href');
        } );

        //download full table
        $('#button').on('click', 'button', function() {
            window.location.href += $(this).attr('data-href');
        } );
        
        // search box for each tfoot th
        $('#alignments tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // datatable
        var table = $('#alignments').DataTable();

        // search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on('keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } )
        } );
    } );
    </script>

    <section>
        <table id="alignments" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sequence</th>
                <th>BLAST({{ statistics.blast }})</th>
                <th>Pfam({{ statistics.pfam }})</th>
                <th>Prosite({{ statistics.prosite }})</th>
                <th>KEGG Pathway({{ statistics.kegg }})</th>
                <th>NucPloc({{ statistics.nuc }})</th>
                <th>Gene Ontology({{ statistics.go }})</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Statistics</th>
                <th>BLAST</th>
                <th>Pfam</th>
                <th>Prosite</th>
                <th>KEGG Pathway</th>
                <th>NucPloc</th>
                <th>Gene Ontology</th>
                <th>Comments</th>
            </tr>
        </tfoot>
        <tbody>
            {% for annotation in annotations %}
            <tr data-href="raw/{{ annotation.name }}">
                <td>{{ annotation.name }}</td>
                <td>{{ annotation.blast }}</td>
                <td>{{ annotation.pfam }}</td>
                <td>{{ annotation.prosite }}</td>
                <td>{{ annotation.kegg }}</td>
                <td>{{ annotation.nuc }}</td>
                <td>{{ annotation.go }}</td>
                <td>{{ annotation.coment }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </section>
    
   
    <section id="button">
         <button data-href="download">Download</button>
    </section>

    <img src="{% static 'gopie.png' %}" alt="Distribution of Most Frequent GO Terms" style="max-width: 100%;">


</body>
</html>

