{% load staticfiles %}

<!doctype html>
<html>
<head>
    {# jQuery #}
    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous">
    </script>

    {# DataTables Plugin Import #}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/datatables.min.css"/> 
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/datatables.min.js"></script>

    <title>Genome Annotations</title>
</head>


<body>
    <h1>Genome Annotations</h1>

    <script>
    $(document).ready(function() {

        // datatable instantiation
        $('#alignments').DataTable( {
        columns: [
            {title: "Sequence"},
            {title: "BLAST"},
            {title: "Pfam"},
            {title: "Prosite"},
            {title: "KEGG Pathway"},
            {title: "Gene Ontology"},
            {title: "Comments"}
        ]
        } );

        // clickable links based on tr tag in table body
        $('#alignments').on('click', 'tbody > tr', function() {
            window.location.href += $(this).attr('data-href');
        } );
 
    } );
    </script>

    <section>
        <table id="alignments" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sequence</th>
                <th>BLAST</th>
                <th>Pfam</th>
                <th>Prosite</th>
                <th>KEGG Pathway</th>
                <th>Gene Ontology</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tfoot>
            <!--REMEMBER TO PUT IN TABLE STATISTICS-->
            <tr>
                <th>SequenceSTATS</th>
                <th>BLASTSTATS</th>
                <th>PfamSTATS</th>
                <th>PrositeSTATS</th>
                <th>KEGG PathwaySTATS</th>
                <th>Gene OntologySTATS</th>
                <th>CommentsSTATS</th>
            </tr>
        <tbody>
            {% for annotation in annotations %}
            <tr data-href={{ annotation.name }}>
                <td>{{ annotation.name }}</td>
                <td>{{ annotation.blast }}</td>
                <td>{{ annotation.pfam }}</td>
                <td>{{ annotation.prosite }}</td>
                <td>{{ annotation.kegg }}</td>
                <td>{{ annotation.go }}</td>
                <td>{{ annotation.coment }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </section>
    <button type="button">Download Files</button>
</body>
</html>

