{% load staticfiles %}


<!doctype html>
<html>
<head>
    <title>{{ filename }}</title>
</head>

<body style='white-space: pre; line-height: 40%'>
<font face=monospace>
<h1>BLAST</h1>
{% for line in BLAST %}
{{ line }}
{% endfor %}
<h1>Pfam</h1>
{% for line in Pfam %}
{{ line }}
{% endfor %}
<h1>Prosite</h1>
{% for line in Prosite %}
{{ line }}
{% endfor %}
<h1>KEGG Pathway</h1>
{% for line in KEGG %}
{{ line }}
{% endfor %}
<h1>NucPloc</h1>
{% for line in NucPloc %}
{{ line }}
{% endfor %}
<h1>Gene Ontology</h1>
{% for line in GO %}
{{ line }}
{% endfor %}
</font>
</body>
</html>
